[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/Simple-FFT"]
	path = submodules/Simple-FFT
	url = https://github.com/d1vanov/Simple-FFT.git
